.ui-search{
	background:url(../img/ui-search.jpg) center no-repeat;
	font-size: 14px;
	color: #fff;
	position:relative;
}
.ui-search-selected{
	width: 70px;
	height: 38px;
	line-height: 38px;
	position: absolute;
	left:0;
	top:0;
	text-indent:14px;
}
.ui-search-select-list{
	display: none;
	width: 67px;
	line-height: 24px;
	position: absolute;
	left: 0;
	top: 36px;
	background-color: #fff;
	box-shadow:3px 3px 5px rgba(0,0,0,.2);
	z-index: 2;
}
.ui-search-select-list a{
	display: block;
	color: #A5a2a2;
	text-align: center;
}
.ui-search-select-list a:hover{
	background-color: #ebeef5;
}
.ui-search-input{
	width: 200px;
	height: 26px;
	position: absolute;
	left:80px;
	top: 5px;
	font-size: 13px;
	color: #A5A2A2
}
.ui-search-submit{
	display: block;
	position:absolute;
	top:1px;
	right: 0px;
	width: 40px;
	height: 36px;
}
/* 左侧菜单栏页面书写 */
.ui-menu-item{
	height: 22px;
	line-height: 22px;
	padding: 8px 5px 9px 6px;
	margin-left: 1px;
}
.ui-menu-item:hover{
	background:#fff;
}
.ui-menu-item-department{
	float: left;
	height: 22px;
	line-height: 22px;
	font-size:13px;
	color:#fff;
	position: relative;
	padding-left: 30px;
}
.ui-menu-item:hover .ui-menu-item-department{
	color: #333;
}
.ui-menu-item-department:before{
	display: block;
	content: "";
	width: 22px;
	height: 21px;
	position:absolute;
	left:0;
	top:1px;
	background: url('../img/icon-menu.jpg') -22px 0 no-repeat;
}
.ui-menu-item:hover .ui-menu-item-department:before{
	background-position-x: 0 ;
}
.ui-menu-item-disease{
	font-size: 12px;
	color: #d7f3ff;
	float: right;
	padding-left: 5px;
}
.ui-menu-item:hover .ui-menu-item-disease{
	color: #868686;
}
.ui-menu-item-detail{
	display: none;
	position:absolute;
	top:0;
	left:190px;
	width: 500px;
	height: 392px;
	background: #fff url(../img/bg-menu.jpg) center no-repeat;
	padding: 20px 25px 11px 29px;
}
.ui-menu-item:hover .ui-menu-item-detail{
	display: block;
}
.ui-menu-item-detail-group{
	padding-bottom: 20px;
	text-align:left;
}
.ui-menu-item-detail-group-caption{
	width:100%;
	height: 34px;
	line-height: 34px;
	color:#666;
	font-size:14px;
}
.ui-menu-item-detail-group-list a{
	display: inline-block;
	color:#868686;
	font-size:12px;
	padding-bottom: 5px;
	margin-right: 12px;
}
.ui-menu-item-detail-group-list a:hover{
	color:#006DB3;
}
.ui-menu-item-detail-group-list a:after{
	content:"|";
}

/** 幻灯片 **/
.ui-slider{
	/** 当内规定内容溢出元素框时发的事情 hidden表示隐藏 **/
	overflow:hidden;
	width: 544px;
	height: 414px;
	position:relative;
}



