.header{
    padding: 10px;
    position:fixed;
    width: 100%;
    background-color: #fff;
}
.header-logo{
    display: block;
    float: left;
}
.header-logo img{
    width: 75px;
    height: 60px;
}
.header-logo span{
    display: block;
    float: right;
    padding-top: 18px;
    font-size: 20px;
    font-weight: bold;
    color: #00b3ea;
}
.header-content{
    float:left;
    margin-left: 40px;
}
.header-search{
    float:left;
    position:relative;
    margin-top: 10px;
    background: #f4f4f4;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    margin-right: 5px;
}
.header-img{
    float:left;
    position:absolute;
    top:12px;
    left: 10px;
}
.header-img img{
    width: 16px;
    height: 16px;
}
.header-input{
    float: left;
    position:absolute;
    top:7px;
    left: 30px;
}
.header-input input{
    background-color:transparent;
}
.btn{
    margin-top: 10px;
}
.link{
    display: block;
    float: left;
    padding: 20px 10px 0 20px;
}
.floater{
    position:fixed;
    right: 0;
    top:50%;
    margin-top: -110px;
    width: 160px;
    height: 220px;
}
.importad{
    position:fixed;
    left:0;
    top:50%;
    margin-top: -150px;
    width: 210px;
    height: 348px;
    background: url("../img/webNotice.png") center no-repeat;
}
.importad span{
    display: block;
    padding: 80px 10px 0 36px;
    font-size: 14px;
    color: #7f7f7f;
}
.close{
    position:fixed;
    top:50%;
    margin-top: -160px;
    left:200px;
    width: 19px;
    height: 19px;
    background: url("../img/index-ewmclose.png") center no-repeat;
}